In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import pandas as pd
pd.set_option('display.max_rows', 1000)
import numpy as np
import random

In [3]:
df = pd.read_csv("../../data/conll03/dev.txt", sep=" ")

In [4]:
df.head()

       -DOCSTART-  -X- -X-.1      O
0         CRICKET  NNP  B-NP      O
1               -    :     O      O
2  LEICESTERSHIRE  NNP  B-NP  B-ORG
3            TAKE  NNP  I-NP      O
4            OVER   IN  B-PP      O

In [5]:
df = df[df['O'].notna()]

In [6]:
df.drop(['-X-', '-X-.1'], axis=1, inplace=True)

In [7]:
df.columns = ['Word', 'Tag']

In [8]:
df.head()

             Word    Tag
0         CRICKET      O
1               -      O
2  LEICESTERSHIRE  B-ORG
3            TAKE      O
4            OVER      O

In [9]:
df['Tag'].unique()

array(['O', 'B-ORG', 'B-LOC', 'B-MISC', 'I-MISC', 'B-PER', 'I-PER',
       'I-LOC', 'I-ORG'], dtype=object)

In [10]:
df.drop(df[df['Word'] == "-DOCSTART-"].index, axis=0, inplace=True)

In [11]:
df['Tag'].unique()

array(['O', 'B-ORG', 'B-LOC', 'B-MISC', 'I-MISC', 'B-PER', 'I-PER',
       'I-LOC', 'I-ORG'], dtype=object)

In [12]:
tags = df['Tag'].values
words = df['Word'].values

In [13]:
new_tags = []
for t in tags:
    if t == "B-ORG":
        new_tags.append("ORG")
    elif t == "B-PER":
        new_tags.append("PER")
    elif t == "I-PER":
        new_tags.append("PER")
    elif t == "B-LOC":
        new_tags.append("LOC")
    elif t == "I-ORG":
        new_tags.append("ORG")
    elif t == "I-LOC":
        new_tags.append("LOC")
    else:
        new_tags.append("O")

In [14]:
df.drop(['Tag'], axis=1, inplace=True)
df.drop(['Word'], axis=1, inplace=True)

In [15]:
df['Tag'] = new_tags
df['Word'] = words

In [16]:
sentence_no = 0
sentence = []
for w in words:
    sentence.append(sentence_no)
    if w == ".":
        sentence_no = sentence_no + 1

In [17]:
len(sentence)

50722

In [18]:
df.insert(0, 'Sentence #', sentence)

In [19]:
df.head()

   Sentence #  Tag            Word
0           0    O         CRICKET
1           0    O               -
2           0  ORG  LEICESTERSHIRE
3           0    O            TAKE
4           0    O            OVER

In [20]:
len(df)

50722

In [21]:
df.dropna(axis=0, inplace=True)

In [22]:
per_entities = df[df['Tag'] == "PER"]['Sentence #'].values.tolist()

In [23]:
per_randomlist = random.sample(per_entities, int(len(per_entities)/2))
per_randomlist.sort()

In [24]:
len(per_randomlist)

1572

In [25]:
for ind, sentence_no, tag, word in zip(df.index.tolist(), df['Sentence #'].values.tolist(), df['Tag'].values.tolist(), df['Word'].values.tolist()):
    if sentence_no in per_randomlist and tag == "PER":
        row1, row3 = df.iloc[ind-1].copy(), df.iloc[ind+1].copy()
        df.iloc[ind-1], df.iloc[ind+1] = row3, row1

IndexError: single positional indexer is out-of-bounds

In [ ]:
loc_entities = df[df['Tag'] == "LOC"]['Sentence #'].values.tolist()

In [ ]:
loc_randomlist = random.sample(loc_entities, int(len(loc_entities)/2))
loc_randomlist.sort()

In [ ]:
for ind, sentence_no, tag, word in zip(df.index.tolist(), df['Sentence #'].values.tolist(), df['Tag'].values.tolist(), df['Word'].values.tolist()):
    if sentence_no in per_randomlist and tag == "LOC":
        row1, row3 = df.iloc[ind-1].copy(), df.iloc[ind+1].copy()
        df.iloc[ind-1], df.iloc[ind+1] = row3, row1

In [ ]:
org_entities = df[df['Tag'] == "ORG"]['Sentence #'].values.tolist()

In [ ]:
org_randomlist = random.sample(org_entities, int(len(org_entities)/2))
org_randomlist.sort()

In [ ]:
for ind, sentence_no, tag, word in zip(df.index.tolist(), df['Sentence #'].values.tolist(), df['Tag'].values.tolist(), df['Word'].values.tolist()):
    if sentence_no in per_randomlist and tag == "ORG":
        row1, row3 = df.iloc[ind-1].copy(), df.iloc[ind+1].copy()
        df.iloc[ind-1], df.iloc[ind+1] = row3, row1

In [ ]:
df.to_csv("../../data/conll03/new_conll_dev_preprocessed_with_punctuation_with_broken_context.csv")