In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import pandas as pd
pd.set_option('display.max_rows', 1000)
import numpy as np
import string
import random
from SoundsLike.SoundsLike import Search
import Levenshtein

In [31]:
df = pd.read_csv("../../data/conll03/new_conll_dev_preprocessed_without_punctuation.csv")
#df = pd.read_csv("../../data/conll03/new_conll_train_preprocessed_without_punctuation_with_broken_entities.csv")
#df = pd.read_csv("../../data/conll03/train.txt", sep=" ")
#df = pd.read_csv("data/dev.txt", sep=" ")
#df = pd.read_csv("data/test.txt", sep=" ")

In [32]:
df.head(100)

    Unnamed: 0  sentence_no             Word  Tag
0            0            0          CRICKET    O
1            1            0   LEICESTERSHIRE  ORG
2            2            0             TAKE    O
3            3            0             OVER    O
4            4            0               AT    O
5            5            0              TOP    O
6            6            0            AFTER    O
7            7            0          INNINGS    O
8            8            0          VICTORY    O
9            9            1           LONDON  LOC
10          10            1         19960830    O
11          11            1             West    O
12          12            1           Indian    O
13          13            1       allrounder    O
14          14            1             Phil  PER
15          15            1          Simmons  PER
16          16            1             took    O
17          17            1             four    O
18          18            1              for    O
19          19            1               38    O
20          20            1               on    O
21          21            1           Friday    O
22          22            1               as    O
23          23            1   Leicestershire  ORG
24          24            1             beat    O
25          25            1         Somerset  ORG
26          26            1               by    O
27          27            1               an    O
28          28            1          innings    O
29          29            1              and    O
30          30            1               39    O
31          31            1             runs    O
32          32            1               in    O
33          33            1              two    O
34          34            1             days    O
35          35            1               to    O
36          36            1             take    O
37          37            1             over    O
38          38            1               at    O
39          39            1              the    O
40          40            1             head    O
41          41            1               of    O
42          42            1              the    O
43          43            1           county    O
44          44            1     championship    O
45          45            2            Their    O
46          46            2             stay    O
47          47            2               on    O
48          48            2              top    O
49          49            2           though    O
50          50            2              may    O
51          51            2               be    O
52          52            2       shortlived    O
53          53            2               as    O
54          54            2            title    O
55          55            2           rivals    O
56          56            2            Essex  ORG
57          57            2       Derbyshire  ORG
58          58            2              and    O
59          59            2           Surrey  ORG
60          60            2              all    O
61          61            2           closed    O
62          62            2               in    O
63          63            2               on    O
64          64            2          victory    O
65          65            2            while    O
66          66            2             Kent  ORG
67          67            2             made    O
68          68            2               up    O
69          69            2              for    O
70          70            2             lost    O
71          71            2             time    O
72          72            2               in    O
73          73            2            their    O
74          74            2     rainaffected    O
75          75            2            match    O
76          76            2          against    O
77          77            2  Nottinghamshire  ORG
78          78            3            After    O
79          79            3          bowling    O
80          80            3         Somerset  ORG
81          81            3              out    O
82          82            3              for    O
83          83            3               83    O
84          84            3               on    O
85          85            3              the    O
86          86            3          opening    O
87          87            3          morning    O
88          88            3               at    O
89          89            3            Grace  LOC
90          90            3             Road  LOC
91          91            3   Leicestershire  ORG
92          92            3         extended    O
93          93            3            their    O
94          94            3            first    O
95          95            3          innings    O
96          96            3               by    O
97          97            3               94    O
98          98            3             runs    O
99          99            3           before    O

In [33]:
df = df[df['Tag'].notna()]

In [34]:
df.head()

   Unnamed: 0  sentence_no            Word  Tag
0           0            0         CRICKET    O
1           1            0  LEICESTERSHIRE  ORG
2           2            0            TAKE    O
3           3            0            OVER    O
4           4            0              AT    O

In [35]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [36]:
df['Tag'].unique()

array(['O', 'ORG', 'LOC', 'PER'], dtype=object)

In [37]:
len(df)

44268

In [38]:
df.dropna(axis=0, inplace=True)

In [39]:
df[df['Word'].isna()]

Empty DataFrame
Columns: [sentence_no, Word, Tag]
Index: []

In [40]:
df.head(100)

    sentence_no             Word  Tag
0             0          CRICKET    O
1             0   LEICESTERSHIRE  ORG
2             0             TAKE    O
3             0             OVER    O
4             0               AT    O
5             0              TOP    O
6             0            AFTER    O
7             0          INNINGS    O
8             0          VICTORY    O
9             1           LONDON  LOC
10            1         19960830    O
11            1             West    O
12            1           Indian    O
13            1       allrounder    O
14            1             Phil  PER
15            1          Simmons  PER
16            1             took    O
17            1             four    O
18            1              for    O
19            1               38    O
20            1               on    O
21            1           Friday    O
22            1               as    O
23            1   Leicestershire  ORG
24            1             beat    O
25            1         Somerset  ORG
26            1               by    O
27            1               an    O
28            1          innings    O
29            1              and    O
30            1               39    O
31            1             runs    O
32            1               in    O
33            1              two    O
34            1             days    O
35            1               to    O
36            1             take    O
37            1             over    O
38            1               at    O
39            1              the    O
40            1             head    O
41            1               of    O
42            1              the    O
43            1           county    O
44            1     championship    O
45            2            Their    O
46            2             stay    O
47            2               on    O
48            2              top    O
49            2           though    O
50            2              may    O
51            2               be    O
52            2       shortlived    O
53            2               as    O
54            2            title    O
55            2           rivals    O
56            2            Essex  ORG
57            2       Derbyshire  ORG
58            2              and    O
59            2           Surrey  ORG
60            2              all    O
61            2           closed    O
62            2               in    O
63            2               on    O
64            2          victory    O
65            2            while    O
66            2             Kent  ORG
67            2             made    O
68            2               up    O
69            2              for    O
70            2             lost    O
71            2             time    O
72            2               in    O
73            2            their    O
74            2     rainaffected    O
75            2            match    O
76            2          against    O
77            2  Nottinghamshire  ORG
78            3            After    O
79            3          bowling    O
80            3         Somerset  ORG
81            3              out    O
82            3              for    O
83            3               83    O
84            3               on    O
85            3              the    O
86            3          opening    O
87            3          morning    O
88            3               at    O
89            3            Grace  LOC
90            3             Road  LOC
91            3   Leicestershire  ORG
92            3         extended    O
93            3            their    O
94            3            first    O
95            3          innings    O
96            3               by    O
97            3               94    O
98            3             runs    O
99            3           before    O

In [14]:
dataset = []
for sentence_no, tag, word in zip(df['sentence_no'].values.tolist(), df['Tag'].values.tolist(), df['Word'].values.tolist()):
    if tag != "O":
        error = []
        try:
            x = Search.perfectHomophones(word)
            for d in x:
                err = Levenshtein.distance(word, d)
                error.append(err)
                word = x[error.index(max(error))]
        except ValueError:
            pass 
        dataset.append((sentence_no, tag, word))
    else:
        dataset.append((sentence_no, tag, word))
df = pd.DataFrame(dataset, columns=['Sentence #', 'Tag', 'Word'])

In [18]:
df.head(100)

    Sentence #  Tag            Word
0            0  ORG              Eu
1            0    O         rejects
2            0    O          German
3            0    O            call
4            0    O              to
5            0    O         boycott
6            0    O         British
7            0    O            lamb
8            1  PER          Pieter
9            1  PER       Blackburn
10           1  LOC        Brussels
11           1    O        19960822
12           1    O             The
13           1  ORG        European
14           1  ORG       Commision
15           1    O            said
16           1    O              on
17           1    O        Thursday
18           1    O              it
19           1    O       disagreed
20           1    O            with
21           1    O          German
22           1    O          advice
23           1    O              to
24           1    O       consumers
25           1    O              to
26           1    O            shun
27           1    O         British
28           1    O            lamb
29           1    O           until
30           1    O      scientists
31           1    O       determine
32           1    O         whether
33           1    O             mad
34           1    O             cow
35           1    O         disease
36           1    O             can
37           1    O              be
38           1    O     transmitted
39           1    O              to
40           1    O           sheep
41           2  LOC       Germany'S
42           2    O  representative
43           2    O              to
44           2    O             the
45           2  ORG        European
46           2  ORG         Union'S
47           2    O      veterinary
48           2    O       committee
49           2  PER          Werner
50           2  PER       Zwingmann
51           2    O            said
52           2    O              on
53           2    O       Wednesday
54           2    O       consumers
55           2    O          should
56           2    O             buy
57           2    O       sheepmeat
58           2    O            from
59           2    O       countries
60           2    O           other
61           2    O            than
62           2  LOC        Brittain
63           2    O           until
64           2    O             the
65           2    O      scientific
66           2    O          advice
67           2    O             was
68           2    O         clearer
69           3    O              We
70           3    O            dont
71           3    O         support
72           3    O             any
73           3    O            such
74           3    O  recommendation
75           3    O         because
76           3    O              we
77           3    O            dont
78           3    O             see
79           3    O             any
80           3    O         grounds
81           3    O             for
82           3    O              it
83           3    O             the
84           3  ORG    Commission'S
85           3    O           chief
86           3    O       spokesman
87           3  PER        Nicolaus
88           3  PER             Van
89           3  PER            Dirr
90           3  PER             Paz
91           3    O            told
92           3    O               a
93           3    O            news
94           3    O        briefing
95           4    O              He
96           4    O            said
97           4    O         further
98           4    O      scientific
99           4    O           study

In [15]:
old_df = df

In [16]:
entities = df[df['Tag'] != "O"]['Sentence #'].values.tolist()

In [17]:
per_entities = df[df['Tag'] == "PER"]['Sentence #'].values.tolist()

In [18]:
per_entities

[1,
 1,
 3,
 3,
 4,
 5,
 5,
 5,
 5,
 6,
 7,
 8,
 8,
 9,
 9,
 11,
 11,
 11,
 11,
 11,
 11,
 13,
 13,
 13,
 13,
 17,
 17,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 20,
 20,
 20,
 20,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 29,
 30,
 30,
 31,
 31,
 31,
 31,
 32,
 32,
 33,
 33,
 33,
 34,
 34,
 35,
 37,
 37,
 37,
 38,
 38,
 38,
 42,
 42,
 42,
 42,
 42,
 42,
 44,
 44,
 48,
 48,
 49,
 49,
 49,
 49,
 49,
 50,
 50,
 50,
 51,
 51,
 55,
 58,
 58,
 59,
 59,
 59,
 59,
 60,
 62,
 62,
 62,
 62,
 62,
 62,
 62,
 62,
 62,
 62,
 62,
 62,
 62,
 62,
 62,
 62,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 71,
 71,
 72,
 72,
 72,
 72,
 72,
 72,
 72,
 72,
 73,
 73,
 73,
 74,
 74,
 74,
 76,
 76,
 76,
 78,
 78,
 78,
 79,
 79,
 80,
 82,
 82,
 83,
 83,
 84,
 86,
 88,
 88,
 90,
 94,
 97,
 97,
 98,
 108,
 108,
 109,
 112,
 113,
 113,
 114,
 115,
 116,
 118,
 118,
 118,
 119,
 120,
 121,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 124,
 124,
 124,
 124,
 125,
 125,
 125,
 125,
 125,
 125,
 125,
 125,
 125,
 126,
 128,
 133,
 139,
 139,
 139,
 140,
 143,
 143,
 143,
 143,
 143,
 144,
 144,
 145,
 145,
 146,
 146,
 146,
 146,
 146,
 146,
 147,
 148,
 148,
 149,
 151,
 151,
 152,
 152,
 152,
 152,
 152,
 152,
 153,
 153,
 154,
 155,
 155,
 155,
 156,
 156,
 157,
 160,
 160,
 161,
 162,
 162,
 162,
 162,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 166,
 166,
 168,
 168,
 168,
 168,
 168,
 171,
 171,
 172,
 172,
 172,
 172,
 174,
 175,
 175,
 176,
 176,
 177,
 177,
 177,
 179,
 180,
 180,
 182,
 184,
 184,
 184,
 184,
 184,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 189,
 190,
 190,
 190,
 190,
 190,
 190,
 190,
 191,
 191,
 191,
 191,
 191,
 191,
 191,
 191,
 191,
 191,
 191,
 191,
 191,
 191,
 191,
 191,
 191,
 191,
 191,
 191,
 191,
 191,
 191,
 192,
 192,
 192,
 193,
 193,
 193,
 193,
 193,
 193,
 193,
 193,
 193,
 193,
 194,
 194,
 194,
 199,
 199,
 199,
 199,
 199,
 199,
 199,
 199,
 199,
 199,
 199,
 199,
 199,
 199,
 199,
 199,
 199,
 199,
 199,
 199,
 199,
 199,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 200,
 212,
 212,
 234,
 234,
 247,
 247,
 248,
 248,
 259,
 259,
 260,
 266,
 266,
 274,
 274,
 277,
 277,
 304,
 304,
 305,
 306,
 306,
 308,
 309,
 309,
 309,
 311,
 311,
 311,
 313,
 313,
 314,
 315,
 316,
 316,
 317,
 317,
 317,
 317,
 317,
 317,
 318,
 318,
 318,
 318,
 319,
 319,
 319,
 319,
 319,
 319,
 319,
 319,
 319,
 319,
 319,
 332,
 332,
 338,
 338,
 339,
 339,
 339,
 339,
 339,
 339,
 340,
 340,
 342,
 342,
 342,
 343,
 343,
 344,
 344,
 345,
 347,
 348,
 349,
 349,
 350,
 351,
 351,
 351,
 352,
 353,
 353,
 353,
 353,
 354,
 354,
 356,
 357,
 357,
 358,
 361,
 361,
 361,
 362,
 362,
 362,
 362,
 365,
 365,
 365,
 365,
 374,
 374,
 375,
 377,
 377,
 378,
 378,
 379,
 379,
 379,
 379,
 380,
 380,
 381,
 381,
 383,
 383,
 384,
 384,
 384,
 386,
 387,
 390,
 391,
 392,
 ...]

In [24]:
per_randomlist = random.sample(per_entities, int(len(per_entities)/2))
per_randomlist.sort()

In [25]:
len(per_randomlist)

11124

In [19]:
for ind, sentence_no, tag, word in zip(df.index.tolist(), df['Sentence #'].values.tolist(), df['Tag'].values.tolist(), df['Word'].values.tolist()):
    if sentence_no in per_entities and tag == "PER":
        row1, row3 = df.iloc[ind-1].copy(), df.iloc[ind+1].copy()
        df.iloc[ind-1], df.iloc[ind+1] = row3, row1

In [20]:
df.head(100)

    Sentence #  Tag             Word
0            0    O          CRICKET
1            0  ORG   LEICESTERSHIRE
2            0    O             TAKE
3            0    O             OVER
4            0    O               AT
5            0    O              TOP
6            0    O            AFTER
7            0    O          INNINGS
8            0    O          VICTORY
9            1  LOC           London
10           1    O         19960830
11           1    O             West
12           1    O           Indian
13           1  PER           Symons
14           1    O             took
15           1    O       allrounder
16           1  PER              Fil
17           1    O             four
18           1    O              for
19           1    O               38
20           1    O               on
21           1    O           Friday
22           1    O               as
23           1  ORG   Leicestershire
24           1    O             beat
25           1  ORG         Somerset
26           1    O               by
27           1    O               an
28           1    O          innings
29           1    O              and
30           1    O               39
31           1    O             runs
32           1    O               in
33           1    O              two
34           1    O             days
35           1    O               to
36           1    O             take
37           1    O             over
38           1    O               at
39           1    O              the
40           1    O             head
41           1    O               of
42           1    O              the
43           1    O           county
44           1    O     championship
45           2    O            Their
46           2    O             stay
47           2    O               on
48           2    O              top
49           2    O           though
50           2    O              may
51           2    O               be
52           2    O       shortlived
53           2    O               as
54           2    O            title
55           2    O           rivals
56           2  ORG            Essex
57           2  ORG       Derbyshire
58           2    O              and
59           2  ORG            Surry
60           2    O              all
61           2    O           closed
62           2    O               in
63           2    O               on
64           2    O          victory
65           2    O            while
66           2  ORG             Kent
67           2    O             made
68           2    O               up
69           2    O              for
70           2    O             lost
71           2    O             time
72           2    O               in
73           2    O            their
74           2    O     rainaffected
75           2    O            match
76           2    O          against
77           2  ORG  Nottinghamshire
78           3    O            After
79           3    O          bowling
80           3  ORG         Somerset
81           3    O              out
82           3    O              for
83           3    O               83
84           3    O               on
85           3    O              the
86           3    O          opening
87           3    O          morning
88           3    O               at
89           3  LOC            Grace
90           3  LOC             Road
91           3  ORG   Leicestershire
92           3    O         extended
93           3    O            their
94           3    O            first
95           3    O          innings
96           3    O               by
97           3    O               94
98           3    O             runs
99           3    O           before

In [21]:
loc_entities = df[df['Tag'] == "LOC"]['Sentence #'].values.tolist()

In [22]:
loc_entities

[1,
 3,
 3,
 3,
 5,
 6,
 8,
 8,
 9,
 16,
 16,
 19,
 20,
 20,
 21,
 21,
 21,
 22,
 22,
 23,
 23,
 25,
 25,
 25,
 26,
 27,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 29,
 30,
 30,
 32,
 32,
 40,
 40,
 40,
 40,
 40,
 41,
 41,
 41,
 42,
 42,
 42,
 43,
 47,
 47,
 48,
 49,
 49,
 50,
 50,
 59,
 59,
 60,
 60,
 62,
 62,
 62,
 62,
 62,
 62,
 62,
 62,
 62,
 62,
 64,
 66,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 70,
 70,
 70,
 70,
 70,
 70,
 70,
 70,
 70,
 70,
 70,
 70,
 70,
 70,
 70,
 70,
 70,
 70,
 71,
 71,
 72,
 72,
 76,
 79,
 79,
 82,
 113,
 119,
 119,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 124,
 124,
 148,
 149,
 149,
 149,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 158,
 158,
 160,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 164,
 165,
 165,
 171,
 172,
 172,
 173,
 174,
 174,
 174,
 174,
 175,
 175,
 176,
 176,
 180,
 183,
 185,
 185,
 185,
 186,
 186,
 186,
 186,
 187,
 187,
 187,
 188,
 188,
 188,
 189,
 189,
 189,
 189,
 189,
 191,
 191,
 194,
 194,
 195,
 195,
 195,
 196,
 196,
 196,
 196,
 197,
 198,
 198,
 198,
 198,
 199,
 200,
 200,
 201,
 202,
 204,
 205,
 213,
 214,
 215,
 215,
 216,
 219,
 219,
 219,
 219,
 219,
 222,
 223,
 223,
 223,
 224,
 234,
 234,
 235,
 235,
 235,
 236,
 239,
 246,
 247,
 247,
 249,
 254,
 254,
 254,
 270,
 270,
 271,
 271,
 271,
 275,
 275,
 275,
 276,
 278,
 279,
 280,
 280,
 283,
 284,
 284,
 286,
 289,
 289,
 290,
 291,
 293,
 293,
 296,
 297,
 298,
 298,
 304,
 304,
 308,
 311,
 313,
 313,
 315,
 316,
 316,
 321,
 321,
 324,
 327,
 331,
 331,
 332,
 332,
 338,
 339,
 339,
 339,
 340,
 343,
 344,
 346,
 346,
 346,
 346,
 347,
 348,
 351,
 353,
 353,
 353,
 354,
 354,
 354,
 354,
 357,
 358,
 359,
 359,
 360,
 360,
 361,
 364,
 364,
 364,
 365,
 366,
 368,
 372,
 373,
 373,
 373,
 373,
 374,
 374,
 375,
 375,
 376,
 377,
 378,
 378,
 379,
 379,
 380,
 386,
 386,
 386,
 390,
 391,
 391,
 393,
 393,
 395,
 395,
 395,
 395,
 396,
 397,
 398,
 398,
 399,
 399,
 402,
 402,
 402,
 404,
 411,
 414,
 415,
 415,
 415,
 417,
 417,
 417,
 417,
 417,
 419,
 419,
 420,
 420,
 420,
 421,
 423,
 425,
 427,
 427,
 427,
 427,
 429,
 429,
 430,
 432,
 432,
 433,
 436,
 436,
 437,
 442,
 444,
 448,
 453,
 453,
 453,
 453,
 456,
 457,
 457,
 458,
 463,
 463,
 463,
 464,
 464,
 464,
 464,
 470,
 471,
 471,
 472,
 472,
 472,
 478,
 478,
 478,
 479,
 485,
 485,
 486,
 486,
 486,
 486,
 488,
 488,
 489,
 489,
 493,
 493,
 493,
 493,
 497,
 497,
 498,
 498,
 499,
 500,
 500,
 501,
 501,
 501,
 502,
 503,
 503,
 504,
 504,
 504,
 507,
 507,
 508,
 508,
 511,
 511,
 512,
 512,
 512,
 512,
 516,
 516,
 521,
 521,
 522,
 522,
 522,
 525,
 525,
 527,
 527,
 534,
 536,
 536,
 545,
 545,
 548,
 550,
 552,
 552,
 553,
 553,
 560,
 576,
 575,
 576,
 576,
 576,
 582,
 582,
 583,
 583,
 585,
 586,
 586,
 587,
 588,
 590,
 591,
 595,
 596,
 596,
 596,
 600,
 610,
 610,
 610,
 614,
 614,
 618,
 618,
 619,
 620,
 621,
 622,
 622,
 622,
 628,
 628,
 631,
 632,
 632,
 633,
 639,
 639,
 640,
 640,
 640,
 642,
 642,
 643,
 645,
 646,
 646,
 646,
 646,
 646,
 647,
 648,
 648,
 649,
 649,
 649,
 649,
 650,
 654,
 654,
 660,
 660,
 662,
 664,
 664,
 665,
 665,
 671,
 671,
 671,
 672,
 672,
 672,
 673,
 673,
 673,
 673,
 673,
 673,
 678,
 679,
 679,
 679,
 679,
 680,
 681,
 681,
 683,
 683,
 686,
 687,
 687,
 687,
 688,
 688,
 691,
 691,
 691,
 691,
 699,
 700,
 701,
 701,
 705,
 705,
 705,
 706,
 711,
 711,
 715,
 718,
 725,
 725,
 726,
 726,
 726,
 728,
 729,
 731,
 733,
 734,
 734,
 739,
 741,
 743,
 743,
 745,
 745,
 745,
 747,
 747,
 748,
 748,
 748,
 751,
 751,
 752,
 752,
 752,
 754,
 754,
 755,
 756,
 757,
 757,
 757,
 758,
 758,
 759,
 760,
 760,
 761,
 761,
 765,
 766,
 766,
 766,
 767,
 767,
 770,
 770,
 770,
 770,
 770,
 772,
 772,
 772,
 772,
 773,
 773,
 774,
 774,
 774,
 777,
 778,
 779,
 779,
 779,
 780,
 782,
 785,
 785,
 787,
 788,
 788,
 788,
 788,
 788,
 790,
 800,
 801,
 801,
 811,
 811,
 811,
 820,
 820,
 831,
 831,
 835,
 837,
 838,
 839,
 841,
 841,
 842,
 842,
 842,
 843,
 844,
 844,
 844,
 848,
 850,
 851,
 851,
 852,
 852,
 852,
 852,
 854,
 856,
 863,
 863,
 864,
 864,
 865,
 868,
 869,
 869,
 871,
 871,
 871,
 872,
 872,
 872,
 873,
 875,
 877,
 877,
 877,
 878,
 878,
 882,
 883,
 883,
 883,
 883,
 883,
 885,
 887,
 888,
 889,
 889,
 889,
 890,
 890,
 890,
 891,
 891,
 893,
 893,
 894,
 899,
 899,
 901,
 903,
 903,
 904,
 907,
 913,
 913,
 914,
 916,
 917,
 920,
 920,
 921,
 921,
 924,
 925,
 926,
 927,
 927,
 927,
 931,
 931,
 932,
 932,
 932,
 933,
 933,
 933,
 933,
 933,
 934,
 934,
 934,
 934,
 935,
 935,
 936,
 936,
 937,
 937,
 937,
 937,
 938,
 939,
 945,
 945,
 946,
 946,
 946,
 ...]

In [ ]:
loc_randomlist = random.sample(loc_entities, int(len(loc_entities)/2))
loc_randomlist.sort()

In [23]:
for ind, sentence_no, tag, word in zip(df.index.tolist(), df['Sentence #'].values.tolist(), df['Tag'].values.tolist(), df['Word'].values.tolist()):
    if sentence_no in loc_entities and tag == "LOC":
        row1, row3 = df.iloc[ind-1].copy(), df.iloc[ind+1].copy()
        df.iloc[ind-1], df.iloc[ind+1] = row3, row1

In [24]:
org_entities = df[df['Tag'] == "ORG"]['Sentence #'].values.tolist()

In [ ]:
org_randomlist = random.sample(org_entities, int(len(org_entities)/2))
org_randomlist.sort()

In [25]:
for ind, sentence_no, tag, word in zip(df.index.tolist(), df['Sentence #'].values.tolist(), df['Tag'].values.tolist(), df['Word'].values.tolist()):
    if sentence_no in org_entities and tag == "ORG":
        row1, row3 = df.iloc[ind-1].copy(), df.iloc[ind+1].copy()
        df.iloc[ind-1], df.iloc[ind+1] = row3, row1

In [26]:
df.head(100)

    Sentence #  Tag             Word
0            0    O             TAKE
1            0  ORG   LEICESTERSHIRE
2            0    O          CRICKET
3            0    O             OVER
4            0    O               AT
5            0    O              TOP
6            0    O            AFTER
7            0    O          INNINGS
8            1    O         19960830
9            1  LOC           London
10           0    O          VICTORY
11           1    O             West
12           1    O           Indian
13           1  PER           Symons
14           1    O             took
15           1    O       allrounder
16           1  PER              Fil
17           1    O             four
18           1    O              for
19           1    O               38
20           1    O               on
21           1    O           Friday
22           1    O             beat
23           1  ORG   Leicestershire
24           1    O               by
25           1  ORG         Somerset
26           1    O               as
27           1    O               an
28           1    O          innings
29           1    O              and
30           1    O               39
31           1    O             runs
32           1    O               in
33           1    O              two
34           1    O             days
35           1    O               to
36           1    O             take
37           1    O             over
38           1    O               at
39           1    O              the
40           1    O             head
41           1    O               of
42           1    O              the
43           1    O           county
44           1    O     championship
45           2    O            Their
46           2    O             stay
47           2    O               on
48           2    O              top
49           2    O           though
50           2    O              may
51           2    O               be
52           2    O       shortlived
53           2    O               as
54           2    O            title
55           2  ORG       Derbyshire
56           2    O              and
57           2    O           rivals
58           2    O              all
59           2  ORG            Surry
60           2  ORG            Essex
61           2    O           closed
62           2    O               in
63           2    O               on
64           2    O          victory
65           2    O             made
66           2  ORG             Kent
67           2    O            while
68           2    O               up
69           2    O              for
70           2    O             lost
71           2    O             time
72           2    O               in
73           2    O            their
74           2    O     rainaffected
75           2    O            match
76           3    O            After
77           2  ORG  Nottinghamshire
78           2    O          against
79           3    O              out
80           3  ORG         Somerset
81           3    O          bowling
82           3    O              for
83           3    O               83
84           3    O               on
85           3    O              the
86           3    O          opening
87           3    O          morning
88           3    O               at
89           3  ORG   Leicestershire
90           3  LOC             Road
91           3  LOC            Grace
92           3    O         extended
93           3    O            their
94           3    O            first
95           3    O          innings
96           3    O               by
97           3    O               94
98           3    O             runs
99           3    O           before

In [27]:
new_df = df.copy()

In [28]:
new_df.head()

   Sentence #  Tag            Word
0           0    O            TAKE
1           0  ORG  LEICESTERSHIRE
2           0    O         CRICKET
3           0    O            OVER
4           0    O              AT

In [29]:
new_df.drop('Sentence #', axis=1, inplace=True)

In [30]:
new_df.head()

   Tag            Word
0    O            TAKE
1  ORG  LEICESTERSHIRE
2    O         CRICKET
3    O            OVER
4    O              AT

In [41]:
new_df['Sentence #'] = df['sentence_no']

In [42]:
new_df.tail()

       Tag        Word  Sentence #
44260    O          on      1873.0
44261  ORG    Newsroom      1873.0
44262    O  8802506363      1873.0
44263    O    Thursday      1873.0
44264  ORG       Dhaka      1873.0

In [43]:
new_df.to_csv("../../data/conll03/new_conll_dev_preprocessed_without_punctuation_with_broken_entities_broken_context1.csv")