In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import pandas as pd
pd.set_option('display.max_rows', 10000)
pd.set_option('display.max_columns', 10000)
pd.set_option('display.width', 10000)
pd.set_option('max_colwidth', 10000)
import numpy as np
import string
import transformers
from transformers import BertTokenizer, BertConfig
from transformers import BertForTokenClassification, AdamW

In [3]:
df = pd.read_csv("../../data/conll03/test.txt", sep=" ")

In [4]:
df.head()

  -DOCSTART-  -X- -X-.1      O
0     SOCCER   NN  B-NP      O
1          -    :     O      O
2      JAPAN  NNP  B-NP  B-LOC
3        GET   VB  B-VP      O
4      LUCKY  NNP  B-NP      O

In [5]:
df.drop(['-X-', '-X-.1'], axis=1, inplace=True)

In [6]:
df.columns = ['Word', 'Tag']

In [7]:
df.head()

     Word    Tag
0  SOCCER      O
1       -      O
2   JAPAN  B-LOC
3     GET      O
4   LUCKY      O

In [8]:
df['Tag'].unique()

array(['O', 'B-LOC', 'B-PER', 'I-PER', 'I-LOC', 'B-MISC', 'I-MISC',
       'B-ORG', 'I-ORG', nan], dtype=object)

In [9]:
df.dropna(axis=0, inplace=True)

In [10]:
df['Tag'].unique()

array(['O', 'B-LOC', 'B-PER', 'I-PER', 'I-LOC', 'B-MISC', 'I-MISC',
       'B-ORG', 'I-ORG'], dtype=object)

In [11]:
tags = df['Tag'].values
words = df['Word'].values

In [12]:
new_tags = []
for t in tags:
    if t == "B-ORG":
        new_tags.append("ORG")
    elif t == "B-PER":
        new_tags.append("PER")
    elif t == "I-PER":
        new_tags.append("PER")
    elif t == "B-LOC":
        new_tags.append("LOC")
    elif t == "I-ORG":
        new_tags.append("ORG")
    elif t == "I-LOC":
        new_tags.append("LOC")
    else:
        new_tags.append("O")

In [13]:
df.drop(['Tag'], axis=1, inplace=True)
df.drop(['Word'], axis=1, inplace=True)

In [14]:
df['Tag'] = new_tags
df['Word'] = words

In [15]:
sentence_no = 0
sentence = []
for w in words:
    sentence.append(sentence_no)
    if w == ".":
        sentence_no = sentence_no + 1

In [16]:
len(sentence)

46244

In [17]:
df.insert(0, 'Sentence #', sentence)

In [18]:
df.head(100)

    Sentence #  Tag          Word
0            0    O        SOCCER
1            0    O             -
2            0  LOC         JAPAN
3            0    O           GET
4            0    O         LUCKY
5            0    O           WIN
6            0    O             ,
7            0  PER         CHINA
8            0    O            IN
9            0    O      SURPRISE
10           0    O        DEFEAT
11           0    O             .
12           1  PER         Nadim
13           1  PER         Ladki
14           1  LOC        AL-AIN
15           1    O             ,
16           1  LOC        United
17           1  LOC          Arab
18           1  LOC      Emirates
19           1    O    1996-12-06
20           1  LOC         Japan
21           1    O         began
22           1    O           the
23           1    O       defence
24           1    O            of
25           1    O         their
26           1    O         Asian
27           1    O           Cup
28           1    O         title
29           1    O          with
30           1    O             a
31           1    O         lucky
32           1    O           2-1
33           1    O           win
34           1    O       against
35           1  LOC         Syria
36           1    O            in
37           1    O             a
38           1    O         Group
39           1    O             C
40           1    O  championship
41           1    O         match
42           1    O            on
43           1    O        Friday
44           1    O             .
45           2    O           But
46           2  LOC         China
47           2    O           saw
48           2    O         their
49           2    O          luck
50           2    O        desert
51           2    O          them
52           2    O            in
53           2    O           the
54           2    O        second
55           2    O         match
56           2    O            of
57           2    O           the
58           2    O         group
59           2    O             ,
60           2    O      crashing
61           2    O            to
62           2    O             a
63           2    O      surprise
64           2    O           2-0
65           2    O        defeat
66           2    O            to
67           2    O     newcomers
68           2  LOC    Uzbekistan
69           2    O             .
70           3  LOC         China
71           3    O    controlled
72           3    O          most
73           3    O            of
74           3    O           the
75           3    O         match
76           3    O           and
77           3    O           saw
78           3    O       several
79           3    O       chances
80           3    O        missed
81           3    O         until
82           3    O           the
83           3    O          78th
84           3    O        minute
85           3    O          when
86           3    O         Uzbek
87           3    O       striker
88           3  PER          Igor
89           3  PER      Shkvyrin
90           3    O          took
91           3    O     advantage
92           3    O            of
93           3    O             a
94           3    O   misdirected
95           3    O     defensive
96           3    O        header
97           3    O            to
98           3    O           lob
99           3    O           the

In [19]:
df.isnull().sum()

Sentence #    0
Tag           0
Word          0
dtype: int64

In [20]:
tokenizer = BertTokenizer.from_pretrained('bert-base-cased', do_whole_word_mask=True)

In [21]:
class SentenceGetter(object):

    def __init__(self, data):
        self.n_sent = 1
        self.data = data
        self.empty = False
        agg_func = lambda s: [(w, t) for w, t in zip(s["Word"].values.tolist(),
                                                           s["Tag"].values.tolist())]
        self.grouped = self.data.groupby("Sentence #").apply(agg_func)
        self.sentences = [s for s in self.grouped]

    def get_next(self):
        try:
            s = self.grouped["Sentence: {}".format(self.n_sent)]
            self.n_sent += 1
            return s
        except:
            return None

In [22]:
getter = SentenceGetter(df)
sentences = [[word[0] for word in sentence] for sentence in getter.sentences]
labels = [[s[1] for s in sentence] for sentence in getter.sentences]

In [23]:
def tokenize_and_preserve_labels(sentence, text_labels):
    tokenized_sentence = []
    labels = []

    for word, label in zip(sentence, text_labels):

        # Tokenize the word and count # of subwords the word is broken into
        tokenized_word = tokenizer.tokenize(str(word))
        n_subwords = len(tokenized_word)

        # Add the tokenized word to the final tokenized word list
        tokenized_sentence.extend(tokenized_word)

        # Add the same label to the new list of labels `n_subwords` times
        labels.extend([label] * n_subwords)

    return tokenized_sentence, labels

In [24]:
tokenized_texts_and_labels = [tokenize_and_preserve_labels(sent, labs) for sent, labs in zip(sentences, labels)]
#tokenized_texts = [token_label_pair[0] for token_label_pair in tokenized_texts_and_labels]
#labels = [token_label_pair[1] for token_label_pair in tokenized_texts_and_labels]

In [25]:
tokenized_texts = [token_label_pair[0] for token_label_pair in tokenized_texts_and_labels]
labels = [token_label_pair[1] for token_label_pair in tokenized_texts_and_labels]

In [27]:
i = 0
sentence_no = 0
new_sentence = []
new_data = []
for sentence, label in zip(tokenized_texts, labels):
    new_tokens = []
    new_tags = []
    for token, tag in zip(sentence, label):
        if token.startswith("##"):
            new_tokens[-1] = new_tokens[-1] + token[2:]
        else:
            new_tokens.append(token)
            new_tags.append(tag)
    for new_token, new_tag in zip(new_tokens, new_tags):
        new_data.append((sentence_no, new_token, new_tag))
    sentence_no = sentence_no + 1

In [28]:
data = pd.DataFrame(new_data, columns=['Sentence #', 'Word', 'Tag'])

In [29]:
data.head(100)

    Sentence #          Word  Tag
0            0        SOCCER    O
1            0             -    O
2            0         JAPAN  LOC
3            0           GET    O
4            0         LUCKY    O
5            0           WIN    O
6            0             ,    O
7            0         CHINA  PER
8            0            IN    O
9            0      SURPRISE    O
10           0        DEFEAT    O
11           0             .    O
12           1         Nadim  PER
13           1         Ladki  PER
14           1            AL  LOC
15           1             -  LOC
16           1           AIN  LOC
17           1             ,    O
18           1        United  LOC
19           1          Arab  LOC
20           1      Emirates  LOC
21           1          1996    O
22           1             -    O
23           1            12    O
24           1             -    O
25           1            06    O
26           1         Japan  LOC
27           1         began    O
28           1           the    O
29           1       defence    O
30           1            of    O
31           1         their    O
32           1         Asian    O
33           1           Cup    O
34           1         title    O
35           1          with    O
36           1             a    O
37           1         lucky    O
38           1             2    O
39           1             -    O
40           1             1    O
41           1           win    O
42           1       against    O
43           1         Syria  LOC
44           1            in    O
45           1             a    O
46           1         Group    O
47           1             C    O
48           1  championship    O
49           1         match    O
50           1            on    O
51           1        Friday    O
52           1             .    O
53           2           But    O
54           2         China  LOC
55           2           saw    O
56           2         their    O
57           2          luck    O
58           2        desert    O
59           2          them    O
60           2            in    O
61           2           the    O
62           2        second    O
63           2         match    O
64           2            of    O
65           2           the    O
66           2         group    O
67           2             ,    O
68           2      crashing    O
69           2            to    O
70           2             a    O
71           2      surprise    O
72           2             2    O
73           2             -    O
74           2             0    O
75           2        defeat    O
76           2            to    O
77           2     newcomers    O
78           2    Uzbekistan  LOC
79           2             .    O
80           3         China  LOC
81           3    controlled    O
82           3          most    O
83           3            of    O
84           3           the    O
85           3         match    O
86           3           and    O
87           3           saw    O
88           3       several    O
89           3       chances    O
90           3        missed    O
91           3         until    O
92           3           the    O
93           3          78th    O
94           3        minute    O
95           3          when    O
96           3         Uzbek    O
97           3       striker    O
98           3          Igor  PER
99           3      Shkvyrin  PER

In [30]:
g_test = data.groupby("Sentence #")
test_df = pd.DataFrame({"Sentence": g_test.apply(lambda sdf: " ".join(sdf.Word)),
                       "Tag": g_test.apply(lambda sdf: ",".join(sdf.Tag))})
test_df.reset_index(inplace=True)

In [33]:
dataset=[]
for sentence_no, sentence, tag in zip(test_df['Sentence #'].values.tolist(), test_df['Sentence'].values.tolist(), test_df['Tag'].values.tolist()):
    if(len(sentence.split()) >= 510):
        print(str(sentence_no) + "---" + str(len(sentence.split())))
        print(sentence)
        continue
    dataset.append((sentence_no, sentence, tag))
test_df = pd.DataFrame(dataset, columns=['sentence_no', 'labels', 'token'])

1412---612
VAIL , Colorado 1996 - 12 - 07 Women ' s World Cup standings after Saturday ' s downhill race : Downhill Standings 1 . Katja Seizinger ( Germany ) 180 points 2 . Renate Goetschl ( Austria ) 132 3 . Carole Montillet ( France ) 86 4 . Pernilla Wiberg ( Sweden ) 75 5 . Heidi Zurbriggen ( Switzerland ) 69 6 . Regina Haeusl ( Germany ) 66 7 . Alexandra Meissnitzer ( Austria ) 65 8 . Isolde Kostner ( Italy ) 60 9 . Ingeborg Helen Markein ( Norway ) 58 10 = Megan Gerety ( U . S . ) 51 10 = Warwara Zelenskaja ( Russia ) 51 10 = Florence Masnada ( France ) 51 13 = Picabo Street ( U . S . ) 50 13 = Stefanie Schuster ( Austria ) 50 15 . Miriam Vogt ( Germany ) 47 16 . Bibiana Perez ( Italy ) 45 17 . Hilde Gerg ( Germany ) 42 18 . Barbara Merlin ( Germany ) 38 19 = Kate Pace Lindsay ( Canada ) 23 19 = Svetlana Gladishiva ( Russia ) 23 19 = Regine Cavagnoud ( France ) 23 Overall women ' s World Cup standings leaders after Saturday ' s downhill and super G races : 1 . Katja Seizinger ( Germany ) 414 points 2 . Pernilla Wiberg ( Sweden ) 353 3 . Hide Gerg ( Germany ) 276 4 . Anita Wachter ( Austria ) 180 5 . Isolde Kostner ( Italy ) 157 6 . Heidi Zurbriggen ( Switzerland ) 153 7 . Warwara Zelenskaja ( Russia ) 151 8 = Renate Goetschl ( Austria ) 146 8 = Carole Montillet ( France ) 146 10 . Svetlana Gladishiva ( Russia ) 137 11 . Florence Masnada ( France ) 133 12 . Deborah Compagnoni ( Italy ) 120 13 . Martina Ertl ( Germany ) 119 14 . Alexandra Meissnitzer ( Austria ) 118 15 . Urska Horvat ( Slovenia ) 108 16 = Claudia Riegler ( New Zealand ) 100 16 = Sabina Panzanini ( Italy ) 100 18 . Barbara Merlin ( Italy ) 92 19 . Stefanie Schuster ( Austria ) 89 20 . Miriam Vogt ( Germany ) 76 Super G standings : 1 . Pernilla Wiberg ( Sweden ) 180 2 . Hilde Gerg ( Germany ) 130 3 . Svetland Gladishiva ( Russia ) 114 4 . Warwara Zelenskaja ( Russia ) 100 5 . Florence Masnada ( France ) 82 6 . Katja Seizinger ( Germany ) 74 7 . Isolde Kostner ( Italy ) 65 8 . Carole Montillet ( France ) 60 9 . Martina Ertl ( Germany ) 58 10 . Anita Wachter ( Austria ) 49 11 . Heidi Zurbriggen ( Switzerland ) 43 12 = Madlen Brigger - Summermatter ( Switzerland ) 42 12 = Barbara Merlin ( Italy ) 42 12 = Katharina Gutensohn ( Germany ) 42 15 . Stefanie Schuster ( Austria ) 39 16 . Leatitia Dalloz ( France ) 33 17 . Bibiana Perez ( Italy ) 30 18 = Miriam Vogt ( Germany ) 29 18 = Marianne Brechu ( France ) 29 20 . Alexandra Meissnitzer ( Austria ) 27 Nation ' s Cup standings : 1 . Austria 1 , 973 points 2 . Germany 1 , 135 3 . Switzerland 972 4 . Italy 887 5 . France 853 6 . Norway 746 7 . Sweden 673 8 . Slovenia 432 9 . Russia 288 10 . United States 164 - DOCSTART - ALPINE SKIING - WOMEN ' S WORLD CUP DOWNHILL RESULTS .
1529---810
LONDON 1996 - 12 - 07 Standings in English league soccer after Saturday ' s matches ( tabulated - played , won , drawn , lost , goals for , goals against , points ) : Premier league Arsenal 17 10 5 2 34 16 35 Wimbledon 16 9 4 3 29 17 31 Liverpool 16 9 4 3 26 14 31 Aston Villa 17 9 3 5 22 15 30 Newcastle 15 9 2 4 26 17 29 Manchester United 15 7 5 3 29 22 26 Chelsea 16 6 7 3 25 23 25 Everton 16 6 6 4 25 20 24 Sheffield Wednesday 16 6 6 4 17 18 24 Tottenham 16 7 2 7 17 17 23 Derby 16 5 7 4 19 19 22 Leicester 17 6 3 8 17 22 21 Leeds 16 6 2 8 15 20 20 Sunderland 16 4 5 7 14 21 17 West Ham 16 4 5 7 13 20 17 Middlesbrough 17 3 6 8 20 28 15 Blackburn 16 2 7 7 16 21 13 Southampton 17 3 4 10 24 32 13 Coventry 16 1 7 8 10 23 10 Nottingham Forest 15 1 6 8 12 25 9 Division One Bolton 21 11 8 2 43 28 41 Sheffield United 21 11 6 4 38 20 39 Barnsley 21 10 8 3 38 26 38 Crystal Palace 21 9 8 4 46 22 35 Wolverhampton 21 9 6 6 29 21 33 Tranmere 22 9 5 8 31 26 32 Norwich 20 9 5 6 27 21 32 Birmingham 22 8 8 6 23 21 32 Oxford 22 8 6 8 27 21 30 Stoke 20 8 6 6 27 30 30 Swindon 22 9 2 11 32 28 29 Charlton 21 9 2 10 23 29 29 Huddersfield 22 7 7 8 25 28 28 Queens Park Rangers 22 7 7 8 25 28 28 Port Vale 22 6 10 6 19 22 28 Ipswich 22 6 8 8 27 32 26 Manchester City 22 8 2 12 26 35 26 Portsmouth 22 7 5 10 25 29 26 Reading 22 7 5 10 25 33 26 West Bromwich 20 5 9 6 26 31 24 Southend 22 5 9 8 23 36 24 Grimsby 22 5 6 11 24 41 21 Bradford 22 5 6 11 21 37 21 Oldham 22 4 8 10 23 28 20 Division Two Brentford 22 11 7 4 35 23 40 Millwall 22 11 7 4 32 22 40 Bury 21 11 6 4 33 20 39 Luton 21 11 4 6 34 25 37 Burnley 22 11 4 7 30 22 37 Chesterfield 21 11 4 6 22 16 37 Stockport 22 10 6 6 29 25 36 Watford 21 9 9 3 24 18 36 Wrexham 20 9 8 3 27 22 35 Crewe 21 11 1 9 29 21 34 Bristol City 21 9 6 6 36 23 33 Bristol Rovers 22 7 7 8 22 23 28 Shrewsbury 22 7 6 9 26 33 27 York 21 7 5 9 23 29 26 Blackpool 22 5 10 7 22 24 25 Walsall 21 7 4 10 21 25 25 Gillingham 22 7 4 11 21 27 25 Preston 22 7 4 11 21 27 25 Bournemouth 22 7 4 11 20 27 25 Plymouth 22 5 8 9 24 31 23 Peterborough 22 4 8 10 32 41 20 Notts County 21 5 5 11 15 23 20 Wycombe 22 4 5 13 17 33 17 Rotherham 21 3 6 12 18 33 15 Division Three Fulham 22 15 3 4 36 16 48 Cambridge 22 13 3 6 33 27 42 Wigan 21 12 4 5 39 24 40 Carlisle 22 11 7 4 32 20 40 Cardiff 21 10 4 7 25 22 34 Swansea 22 9 5 8 25 25 32 Barnet 22 8 8 6 23 17 32 Colchester 22 7 10 5 32 26 31 Scunthorpe 22 9 4 9 28 30 31 Northampton 22 8 6 8 31 26 30 Scarborough 21 7 9 5 30 27 30 Lincoln 22 8 6 8 28 33 30 Chester 21 8 6 7 23 23 30 Hull 22 6 11 5 20 22 29 Torquay 22 8 4 10 22 24 28 Rochdale 21 6 8 7 27 26 26 Exeter 22 7 5 10 21 28 26 Doncaster 22 7 3 12 24 33 24 Mansfield 21 5 9 7 21 22 24 Leyton Orient 21 6 6 9 16 19 24 Hereford 22 6 5 11 23 31 23 Darlington 22 6 4 12 30 39 22 Hartlepool 21 6 4 11 23 28 22 Brighton 22 3 4 15 18 42 13 - DOCSTART - SOCCER - VIEIRA SAVES ARSENAL WITH LAST - MINUTE EQUALISER .

In [34]:
test_df.head()

   sentence_no                                                                                                                                                                                                                                               labels                                                                                                  token
0            0                                                                                                                                                                                            SOCCER - JAPAN GET LUCKY WIN , CHINA IN SURPRISE DEFEAT .                                                                            O,O,LOC,O,O,O,O,PER,O,O,O,O
1            1                                                         Nadim Ladki AL - AIN , United Arab Emirates 1996 - 12 - 06 Japan began the defence of their Asian Cup title with a lucky 2 - 1 win against Syria in a Group C championship match on Friday .  PER,PER,LOC,LOC,LOC,O,LOC,LOC,LOC,O,O,O,O,O,LOC,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,LOC,O,O,O,O,O,O,O,O,O
2            2                                                                                                                But China saw their luck desert them in the second match of the group , crashing to a surprise 2 - 0 defeat to newcomers Uzbekistan .                                              O,LOC,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,LOC,O
3            3  China controlled most of the match and saw several chances missed until the 78th minute when Uzbek striker Igor Shkvyrin took advantage of a misdirected defensive header to lob the ball over the advancing Chinese keeper and into an empty net .              LOC,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,PER,PER,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O
4            4                                                                                                                              Oleg Shatskiku made sure of the win in injury time , hitting an unstoppable left foot shot from just outside the area .                                                      PER,PER,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O

In [ ]:
data.to_csv("../../data/conll_test_preprocessed.csv")