In [19]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [20]:
import pandas as pd
pd.set_option('display.max_rows', 1000)
import numpy as np

In [21]:
df = pd.read_csv("../../data/conll03/dev.txt", sep=" ")

In [22]:
df.head()

       -DOCSTART-  -X- -X-.1      O
0         CRICKET  NNP  B-NP      O
1               -    :     O      O
2  LEICESTERSHIRE  NNP  B-NP  B-ORG
3            TAKE  NNP  I-NP      O
4            OVER   IN  B-PP      O

In [23]:
df.drop(['-X-', '-X-.1'], axis=1, inplace=True)

In [24]:
df.columns = ['Word', 'Tag']

In [25]:
df.head()

             Word    Tag
0         CRICKET      O
1               -      O
2  LEICESTERSHIRE  B-ORG
3            TAKE      O
4            OVER      O

In [26]:
df['Tag'].unique()

array(['O', 'B-ORG', 'B-LOC', 'B-MISC', 'I-MISC', 'B-PER', 'I-PER',
       'I-LOC', 'I-ORG', nan], dtype=object)

In [27]:
df.dropna(axis=0, inplace=True)

In [28]:
df['Tag'].unique()

array(['O', 'B-ORG', 'B-LOC', 'B-MISC', 'I-MISC', 'B-PER', 'I-PER',
       'I-LOC', 'I-ORG'], dtype=object)

In [29]:
tags = df['Tag'].values
words = df['Word'].values

In [30]:
new_tags = []
for t in tags:
    if t == "B-ORG":
        new_tags.append("ORG")
    elif t == "B-PER":
        new_tags.append("PER")
    elif t == "I-PER":
        new_tags.append("PER")
    elif t == "B-LOC":
        new_tags.append("LOC")
    elif t == "I-ORG":
        new_tags.append("ORG")
    elif t == "I-LOC":
        new_tags.append("LOC")
    else:
        new_tags.append("O")

In [31]:
df.drop(['Tag'], axis=1, inplace=True)
df.drop(['Word'], axis=1, inplace=True)

In [32]:
df['Tag'] = new_tags
df['Word'] = words

In [33]:
sentence_no = 0
sentence = []
for w in words:
    sentence.append(sentence_no)
    if w == ".":
        sentence_no = sentence_no + 1

In [34]:
len(sentence)

50934

In [35]:
df.insert(0, 'Sentence #', sentence)

In [36]:
df.tail()

       Sentence #  Tag          Word
51572        1873    O             .
51573        1874    O            --
51574        1874  ORG         Dhaka
51575        1874  ORG      Newsroom
51576        1874    O  880-2-506363

In [37]:
top_entities = (df.groupby(by=['Tag'])
                           .size()
                           .sort_values(ascending=False)
                           .reset_index().rename(columns={0: 'Frequency'}))
top_entities

   Tag  Frequency
0    O      43603
1  PER       3145
2  LOC       2094
3  ORG       2092

In [ ]:
df.to_csv("data/conll_dev_preprocessed.csv")