In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import pandas as pd
pd.set_option('display.max_rows', 10000)
pd.set_option('display.max_columns', 10000)
pd.set_option('display.width', 10000)
pd.set_option('max_colwidth', 10000)
import numpy as np
import string
import transformers
from transformers import BertTokenizer, BertConfig
from transformers import BertForTokenClassification, AdamW
from SoundsLike.SoundsLike import Search
import Levenshtein

In [3]:
#df = pd.read_csv("data/train.txt", sep=" ")
df = pd.read_csv("../../data/conll03/dev.txt", sep=" ")
#df = pd.read_csv("data/test.txt", sep=" ")

In [4]:
df.head()

       -DOCSTART-  -X- -X-.1      O
0         CRICKET  NNP  B-NP      O
1               -    :     O      O
2  LEICESTERSHIRE  NNP  B-NP  B-ORG
3            TAKE  NNP  I-NP      O
4            OVER   IN  B-PP      O

In [5]:
df = df[df['O'].notna()]

In [6]:
df.drop(['-X-', '-X-.1'], axis=1, inplace=True)

In [7]:
df.columns = ['Word', 'Tag']

In [8]:
df.head()

             Word    Tag
0         CRICKET      O
1               -      O
2  LEICESTERSHIRE  B-ORG
3            TAKE      O
4            OVER      O

In [9]:
#df.drop(df[df['Word'] == "-DOCSTART-"].index, axis=0, inplace=True)

In [10]:
df['Tag'].unique()

array(['O', 'B-ORG', 'B-LOC', 'B-MISC', 'I-MISC', 'B-PER', 'I-PER',
       'I-LOC', 'I-ORG'], dtype=object)

In [11]:
tags = df['Tag'].values
words = df['Word'].values

In [12]:
new_tags = []
for t in tags:
    if t == "B-ORG":
        new_tags.append("ORG")
    elif t == "B-PER":
        new_tags.append("PER")
    elif t == "I-PER":
        new_tags.append("PER")
    elif t == "B-LOC":
        new_tags.append("LOC")
    elif t == "I-ORG":
        new_tags.append("ORG")
    elif t == "I-LOC":
        new_tags.append("LOC")
    else:
        new_tags.append("O")

In [13]:
df.drop(['Tag'], axis=1, inplace=True)
df.drop(['Word'], axis=1, inplace=True)

In [14]:
df['Tag'] = new_tags
df['Word'] = words

In [15]:
len(df)

50937

In [16]:
sentence_no = 0
sentence = []
for w in words:
    sentence.append(sentence_no)
    if w == ".":
        sentence_no = sentence_no + 1

In [17]:
df.insert(0, 'Sentence #', sentence)

In [18]:
df.head()

   Sentence #  Tag            Word
0           0    O         CRICKET
1           0    O               -
2           0  ORG  LEICESTERSHIRE
3           0    O            TAKE
4           0    O            OVER

In [19]:
dataset = []
for sentence_no, tag, word in zip(df['Sentence #'].values.tolist(), df['Tag'].values.tolist(), df['Word'].values.tolist()):
    error = []
    try:
        x = Search.perfectHomophones(str(word))
        for d in x:
            err = Levenshtein.distance(str(word), d)
            error.append(err)
            word = x[error.index(max(error))]
    except ValueError:
        pass 
    dataset.append((sentence_no, tag, word.lower()))
df = pd.DataFrame(dataset, columns=['Sentence #', 'Tag', 'Word'])

In [21]:
df.head(100)

    Sentence #  Tag             Word
0            0    O          cricket
1            0    O                -
2            0  ORG   leicestershire
3            0    O             take
4            0    O             over
5            0    O               at
6            0    O              top
7            0    O            after
8            0    O          innings
9            0    O          victory
10           0    O                .
11           1  LOC           london
12           1    O       1996-08-30
13           1    O             west
14           1    O           indian
15           1    O      all-rounder
16           1  PER              fil
17           1  PER           symons
18           1    O             took
19           1    O            faure
20           1    O              for
21           1    O               38
22           1    O             aune
23           1    O           friday
24           1    O               as
25           1  ORG   leicestershire
26           1    O             beat
27           1  ORG         somerset
28           1    O              bae
29           1    O               'n
30           1    O          innings
31           1    O              and
32           1    O               39
33           1    O            run's
34           1    O               in
35           1    O             thuy
36           1    O            day's
37           1    O               to
38           1    O             take
39           1    O             over
40           1    O               at
41           1    O              the
42           1    O             head
43           1    O               of
44           1    O              the
45           1    O           county
46           1    O     championship
47           1    O                .
48           2    O          they're
49           2    O             stay
50           2    O             aune
51           2    O              top
52           2    O                ,
53           2    O              tho
54           2    O                ,
55           2    O              mae
56           2    O               be
57           2    O      short-lived
58           2    O               as
59           2    O           teitel
60           2    O          rival's
61           2  ORG            essex
62           2    O                ,
63           2  ORG       derbyshire
64           2    O              and
65           2  ORG            surry
66           2    O              all
67           2    O           closed
68           2    O               in
69           2    O             aune
70           2    O          victory
71           2    O            while
72           2  ORG             kent
73           2    O             maid
74           2    O               up
75           2    O              for
76           2    O             lost
77           2    O             time
78           2    O               in
79           2    O          they're
80           2    O    rain-affected
81           2    O            mache
82           2    O          against
83           2  ORG  nottinghamshire
84           2    O                .
85           3    O            after
86           3    O          bohling
87           3  ORG         somerset
88           3    O              out
89           3    O              for
90           3    O               83
91           3    O             aune
92           3    O              the
93           3    O          opening
94           3    O          morning
95           3    O               at
96           3  LOC            grace
97           3  LOC             road
98           3    O                ,
99           3  ORG   leicestershire

In [22]:
g_test = df.groupby("Sentence #")
x = pd.DataFrame({"Sentence": g_test.apply(lambda sdf: " ".join(map(str,sdf.Word))),
                       "Tag": g_test.apply(lambda sdf: ",".join(map(str,sdf.Tag)))})

In [23]:
import re

def decontracted(phrase):
    # general
    phrase = re.sub(r" \'s", "\'s", phrase)
    phrase = re.sub(r" \'t", "\'t", phrase)
    phrase = re.sub(r" n't", "n't", phrase)
    phrase = re.sub(r" \'re", "\'re", phrase)
    phrase = re.sub(r" \'d", "\'d", phrase)
    phrase = re.sub(r" \'ll", "\'ll", phrase)
    phrase = re.sub(r" \'t", "\'t", phrase)
    phrase = re.sub(r" \'ve", "\'ve", phrase)
    phrase = re.sub(r" \'m", "\'m", phrase)
    return phrase

In [24]:
p_data = []
sentence_no = 0
new_df = []
for sentence, tags in zip(x['Sentence'].values.tolist(), x['Tag'].values.tolist()):
    words = sentence.split(" ")
    ind = [ i for i, word in enumerate(words) if word == "'s" or word == "'t" or word == "'re" or word == "'d" or word == "'ll" or word == "'t" or word == "'ve" or word == "'m" or word == "n't"]
    labels = tags.split(",")
    sentence = " ".join(words)
    sentence = decontracted(sentence)
    tags = [ elem for i, elem in enumerate(labels) if i not in ind]
    stripped = sentence.translate(str.maketrans('', '', string.punctuation))
    stripped = stripped.split(" ")
    for word, label in zip(stripped, tags):
        p_data.append((sentence_no, word, label))
    sentence_no = sentence_no + 1

In [25]:
df = pd.DataFrame(p_data, columns=['Sentence #', 'Word', 'Tag'])

In [27]:
df.head(100)

    Sentence #             Word  Tag
0            0          CRICKET    O
1            0                     O
2            0   LEICESTERSHIRE  ORG
3            0             TAKE    O
4            0             OVER    O
5            0               AT    O
6            0              TOP    O
7            0            AFTER    O
8            0          INNINGS    O
9            0          VICTORY    O
10           0                     O
11           1           Lunden  LOC
12           1         19960830    O
13           1             West    O
14           1           Indian    O
15           1       allrounder    O
16           1              Fil  PER
17           1           Symons  PER
18           1             took    O
19           1             four    O
20           1              for    O
21           1               38    O
22           1               on    O
23           1           Friday    O
24           1               as    O
25           1   Leicestershire  ORG
26           1             beat    O
27           1         Somerset  ORG
28           1               by    O
29           1               an    O
30           1          innings    O
31           1              and    O
32           1               39    O
33           1             runs    O
34           1               in    O
35           1              two    O
36           1             days    O
37           1               to    O
38           1             take    O
39           1             over    O
40           1               at    O
41           1              the    O
42           1             head    O
43           1               of    O
44           1              the    O
45           1           county    O
46           1     championship    O
47           1                     O
48           2            Their    O
49           2             stay    O
50           2               on    O
51           2              top    O
52           2                     O
53           2           though    O
54           2                     O
55           2              may    O
56           2               be    O
57           2       shortlived    O
58           2               as    O
59           2            title    O
60           2           rivals    O
61           2            Essex  ORG
62           2                     O
63           2       Derbyshire  ORG
64           2              and    O
65           2            Surry  ORG
66           2              all    O
67           2           closed    O
68           2               in    O
69           2               on    O
70           2          victory    O
71           2            while    O
72           2             Kent  ORG
73           2             made    O
74           2               up    O
75           2              for    O
76           2             lost    O
77           2             time    O
78           2               in    O
79           2            their    O
80           2     rainaffected    O
81           2            match    O
82           2          against    O
83           2  Nottinghamshire  ORG
84           2                     O
85           3            After    O
86           3          bowling    O
87           3         Somerset  ORG
88           3              out    O
89           3              for    O
90           3               83    O
91           3               on    O
92           3              the    O
93           3          opening    O
94           3          morning    O
95           3               at    O
96           3            Grace  LOC
97           3             Road  LOC
98           3                     O
99           3   Leicestershire  ORG

In [28]:
dataset = []
for sentence_no, word, tags in zip(df['Sentence #'].values.tolist(), df['Word'].values.tolist(), df['Tag'].values.tolist()):
    if word != "":
        dataset.append((sentence_no, word, tags))
df = pd.DataFrame(dataset, columns=['Sentence #', 'Word', 'Tag'])

In [29]:
df.head(100)

    Sentence #             Word  Tag
0            0          CRICKET    O
1            0   LEICESTERSHIRE  ORG
2            0             TAKE    O
3            0             OVER    O
4            0               AT    O
5            0              TOP    O
6            0            AFTER    O
7            0          INNINGS    O
8            0          VICTORY    O
9            1           Lunden  LOC
10           1         19960830    O
11           1             West    O
12           1           Indian    O
13           1       allrounder    O
14           1              Fil  PER
15           1           Symons  PER
16           1             took    O
17           1             four    O
18           1              for    O
19           1               38    O
20           1               on    O
21           1           Friday    O
22           1               as    O
23           1   Leicestershire  ORG
24           1             beat    O
25           1         Somerset  ORG
26           1               by    O
27           1               an    O
28           1          innings    O
29           1              and    O
30           1               39    O
31           1             runs    O
32           1               in    O
33           1              two    O
34           1             days    O
35           1               to    O
36           1             take    O
37           1             over    O
38           1               at    O
39           1              the    O
40           1             head    O
41           1               of    O
42           1              the    O
43           1           county    O
44           1     championship    O
45           2            Their    O
46           2             stay    O
47           2               on    O
48           2              top    O
49           2           though    O
50           2              may    O
51           2               be    O
52           2       shortlived    O
53           2               as    O
54           2            title    O
55           2           rivals    O
56           2            Essex  ORG
57           2       Derbyshire  ORG
58           2              and    O
59           2            Surry  ORG
60           2              all    O
61           2           closed    O
62           2               in    O
63           2               on    O
64           2          victory    O
65           2            while    O
66           2             Kent  ORG
67           2             made    O
68           2               up    O
69           2              for    O
70           2             lost    O
71           2             time    O
72           2               in    O
73           2            their    O
74           2     rainaffected    O
75           2            match    O
76           2          against    O
77           2  Nottinghamshire  ORG
78           3            After    O
79           3          bowling    O
80           3         Somerset  ORG
81           3              out    O
82           3              for    O
83           3               83    O
84           3               on    O
85           3              the    O
86           3          opening    O
87           3          morning    O
88           3               at    O
89           3            Grace  LOC
90           3             Road  LOC
91           3   Leicestershire  ORG
92           3         extended    O
93           3            their    O
94           3            first    O
95           3          innings    O
96           3               by    O
97           3               94    O
98           3             runs    O
99           3           before    O

In [ ]:
entities = list(set(df[df['Tag'] != "O"]['Sentence #'].values.tolist()))

In [ ]:
import random
randomlist = random.sample(entities, int(len(entities)/2))
randomlist.sort()

In [ ]:
dataset = []
for sentence_no, tag, word in zip(df['Sentence #'].values.tolist(), df['Tag'].values.tolist(), df['Word'].values.tolist()):
    if sentence_no in randomlist:
        if tag != "O":
            if len(word) >=4:
                word = list(word)
                ind = random.randint(2,len(word)-1)
                temp = word[ind-1]
                word[ind-1] = word[ind]
                word[ind] = temp
                word = "".join(word)
                dataset.append((sentence_no, tag, word))
            else:
                dataset.append((sentence_no, tag, word))
        else:
            dataset.append((sentence_no, tag, word))
    else:
        dataset.append((sentence_no, tag, word))

In [ ]:
len(dataset)

In [ ]:
new_df = pd.DataFrame(dataset, columns=['Sentence #', 'Tag', 'Word'])

In [ ]:
new_df.head(20)

In [ ]:
tokenizer = BertTokenizer.from_pretrained('bert-base-cased', do_whole_word_mask=True)

In [ ]:
class SentenceGetter(object):

    def __init__(self, data):
        self.n_sent = 1
        self.data = data
        self.empty = False
        agg_func = lambda s: [(w, t) for w, t in zip(s["Word"].values.tolist(),
                                                           s["Tag"].values.tolist())]
        self.grouped = self.data.groupby("Sentence #").apply(agg_func)
        self.sentences = [s for s in self.grouped]

    def get_next(self):
        try:
            s = self.grouped["Sentence: {}".format(self.n_sent)]
            self.n_sent += 1
            return s
        except:
            return None

In [ ]:
getter = SentenceGetter(df)
sentences = [[word[0] for word in sentence] for sentence in getter.sentences]
labels = [[s[1] for s in sentence] for sentence in getter.sentences]

In [ ]:
def tokenize_and_preserve_labels(sentence, text_labels):
    tokenized_sentence = []
    labels = []

    for word, label in zip(sentence, text_labels):

        # Tokenize the word and count # of subwords the word is broken into
        tokenized_word = tokenizer.tokenize(str(word))
        n_subwords = len(tokenized_word)

        # Add the tokenized word to the final tokenized word list
        tokenized_sentence.extend(tokenized_word)

        # Add the same label to the new list of labels `n_subwords` times
        labels.extend([label] * n_subwords)

    return tokenized_sentence, labels

In [ ]:
tokenized_texts_and_labels = [tokenize_and_preserve_labels(sent, labs) for sent, labs in zip(sentences, labels)]
#tokenized_texts = [token_label_pair[0] for token_label_pair in tokenized_texts_and_labels]
#labels = [token_label_pair[1] for token_label_pair in tokenized_texts_and_labels]

In [ ]:
tokenized_texts = [token_label_pair[0] for token_label_pair in tokenized_texts_and_labels]
labels = [token_label_pair[1] for token_label_pair in tokenized_texts_and_labels]

In [ ]:
tokenized_texts[0:50]

In [ ]:
for sentence in tokenized_texts:
    print(sentence)
    break

In [ ]:
i = 0
sentence_no = 0
new_sentence = []
new_data = []
for sentence, label in zip(tokenized_texts, labels):
    new_tokens = []
    new_tags = []
    for token, tag in zip(sentence, label):
        if token.startswith("##"):
            new_tokens[-1] = new_tokens[-1] + token[2:]
        else:
            new_tokens.append(token)
            new_tags.append(tag)
    for new_token, new_tag in zip(new_tokens, new_tags):
        if new_token in string.punctuation:
            continue
        else:
            new_data.append((sentence_no, new_token, new_tag))
    sentence_no = sentence_no + 1

In [ ]:
new_data[0:50]

In [ ]:
data = pd.DataFrame(new_data, columns=['Sentence #', 'Word', 'Tag'])

In [22]:
df.to_csv("../../data/conll03/new_conll_dev_preprocessed_with_punctuation_with_all_broken_entities2.csv")