In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import pandas as pd
pd.set_option('display.max_rows', 10000)
import numpy as np
import matplotlib.pyplot as plt
import os
import Levenshtein

In [3]:
df = pd.read_csv("../../ljspeech/annotations/flair/ljspeech_asr_annotations_flair.csv")
#df = pd.read_csv("../../ljspeech/unprocessed_sampled_asr.csv")
g_test = df.groupby("Sentence #")
test_df = pd.DataFrame({"Sentence": g_test.apply(lambda sdf: " ".join(sdf.Word)),
                       "Tag": g_test.apply(lambda sdf: ",".join(sdf.Tag))})
test_df.reset_index(inplace=True)
df.head()

   Sentence #      Word Tag
0           0  printing   O
1           0        in   O
2           0       the   O
3           0      only   O
4           0     sense   O

In [4]:
len(test_df)

13100

In [5]:
#df = pd.read_csv("../../ljspeech/annotations/flair/ljspeech_original_annotations_flair.csv")
df = pd.read_csv("../../ljspeech/unprocessed_sampled_asr.csv")
g_test = df.groupby("Sentence #")
test_df = pd.DataFrame({"Sentence": g_test.apply(lambda sdf: " ".join(sdf.Word)),
                       "Tag": g_test.apply(lambda sdf: ",".join(sdf.Tag))})
test_df.reset_index(inplace=True)
df.head()

  Unnamed: 0  Sentence #      Word Tag
0         29         2.0       for   O
1         30         2.0  although   O
2         31         2.0       the   O
3         32         2.0   Chinese   O
4         33         2.0      took   O

In [6]:
len(test_df)

5832

In [7]:
df.head()

  Unnamed: 0  Sentence #      Word Tag
0         29         2.0       for   O
1         30         2.0  although   O
2         31         2.0       the   O
3         32         2.0   Chinese   O
4         33         2.0      took   O

In [8]:
top_entities = (df.groupby(by=['Tag'])
                           .size()
                           .sort_values(ascending=False)
                           .reset_index().rename(columns={0: 'Frequency'}))
top_entities

   Tag  Frequency
0    O      93471
1  PER       5448
2  LOC       3340
3  ORG       3038