In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import pandas as pd
pd.set_option('display.max_rows', 10000)
import numpy as np
import matplotlib.pyplot as plt
import os
import Levenshtein

In [3]:
df = pd.read_csv("../../ljspeech/annotations/flair/ljspeech_original_annotations_flair.csv")
#df = pd.read_csv("../../ljspeech/unprocessed_sampled_asr.csv")
g_test = df.groupby("Sentence #")
test_df = pd.DataFrame({"Sentence": g_test.apply(lambda sdf: " ".join(sdf.Word)),
                       "Tag": g_test.apply(lambda sdf: ",".join(sdf.Tag))})
test_df.reset_index(inplace=True)
df.head()

   Sentence #      Word Tag
0           0  Printing   O
1           0         ,   O
2           0        in   O
3           0       the   O
4           0      only   O

In [4]:
len(test_df)

13100

In [5]:
#df = pd.read_csv("../../ljspeech/annotations/flair/ljspeech_original_annotations_flair.csv")
df = pd.read_csv("../../ljspeech/unprocessed_sampled_original.csv")
df.head()

   Unnamed: 0  Sentence #      Word Tag
0          34           2       For   O
1          35           2  although   O
2          36           2       the   O
3          37           2   Chinese   O
4          38           2      took   O

In [6]:
df.dropna(axis=0, inplace=True)

In [7]:
g_test = df.groupby("Sentence #")
test_df = pd.DataFrame({"Sentence": g_test.apply(lambda sdf: " ".join(sdf.Word)),
                       "Tag": g_test.apply(lambda sdf: ",".join(sdf.Tag))})
test_df.reset_index(inplace=True)

In [8]:
len(test_df)

5832

In [9]:
df.head()

   Unnamed: 0  Sentence #      Word Tag
0          34           2       For   O
1          35           2  although   O
2          36           2       the   O
3          37           2   Chinese   O
4          38           2      took   O

In [10]:
top_entities = (df.groupby(by=['Tag'])
                           .size()
                           .sort_values(ascending=False)
                           .reset_index().rename(columns={0: 'Frequency'}))
top_entities

   Tag  Frequency
0    O     105491
1  PER       6533
2  ORG       4212
3  LOC       3688