In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import pandas as pd
pd.set_option('display.max_rows', 1000)
import numpy as np

In [3]:
df = pd.read_csv("data/dev.txt", sep=" ")

In [4]:
df.head()

       -DOCSTART-  -X- -X-.1      O
0         CRICKET  NNP  B-NP      O
1               -    :     O      O
2  LEICESTERSHIRE  NNP  B-NP  B-ORG
3            TAKE  NNP  I-NP      O
4            OVER   IN  B-PP      O

In [5]:
df.drop(['-X-', '-X-.1'], axis=1, inplace=True)

In [6]:
df.columns = ['Word', 'Tag']

In [7]:
df.head()

             Word    Tag
0         CRICKET      O
1               -      O
2  LEICESTERSHIRE  B-ORG
3            TAKE      O
4            OVER      O

In [8]:
df['Tag'].unique()

array(['O', 'B-ORG', 'B-LOC', 'B-MISC', 'I-MISC', 'B-PER', 'I-PER',
       'I-LOC', 'I-ORG', nan], dtype=object)

In [9]:
df.dropna(axis=0, inplace=True)

In [10]:
df['Tag'].unique()

array(['O', 'B-ORG', 'B-LOC', 'B-MISC', 'I-MISC', 'B-PER', 'I-PER',
       'I-LOC', 'I-ORG'], dtype=object)

In [11]:
tags = df['Tag'].values
words = df['Word'].values

In [12]:
new_tags = []
for t in tags:
    if t == "B-ORG":
        new_tags.append("ORG")
    elif t == "B-PER":
        new_tags.append("PER")
    elif t == "I-PER":
        new_tags.append("PER")
    elif t == "B-LOC":
        new_tags.append("LOC")
    elif t == "I-ORG":
        new_tags.append("ORG")
    elif t == "I-LOC":
        new_tags.append("LOC")
    else:
        new_tags.append("O")

In [13]:
df.drop(['Tag'], axis=1, inplace=True)
df.drop(['Word'], axis=1, inplace=True)

In [14]:
df['Tag'] = new_tags
df['Word'] = words

In [15]:
sentence_no = 0
sentence = []
for w in words:
    sentence.append(sentence_no)
    if w == ".":
        sentence_no = sentence_no + 1

In [16]:
len(sentence)

50934

In [17]:
df.insert(0, 'Sentence #', sentence)

In [18]:
df.head()

   Sentence #  Tag            Word
0           0    O         CRICKET
1           0    O               -
2           0  ORG  LEICESTERSHIRE
3           0    O            TAKE
4           0    O            OVER

In [19]:
df.to_csv("data/conll_dev_preprocessed.csv")