In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import pandas as pd
pd.set_option('display.max_rows', 1000)
import numpy as np

In [3]:
df = pd.read_csv("data/train.txt", sep=" ")
#df = pd.read_csv("data/dev.txt", sep=" ")
#df = pd.read_csv("data/test.txt", sep=" ")

In [4]:
df.head()

  -DOCSTART-  -X- -X-.1       O
0         EU  NNP  B-NP   B-ORG
1    rejects  VBZ  B-VP       O
2     German   JJ  B-NP  B-MISC
3       call   NN  I-NP       O
4         to   TO  B-VP       O

In [5]:
df.drop(['-X-', '-X-.1'], axis=1, inplace=True)

In [6]:
df.columns = ['Word', 'Tag']

In [7]:
df.head()

      Word     Tag
0       EU   B-ORG
1  rejects       O
2   German  B-MISC
3     call       O
4       to       O

In [8]:
df['Tag'].unique()

array(['B-ORG', 'O', 'B-MISC', 'B-PER', 'I-PER', 'B-LOC', 'I-ORG', nan,
       'I-MISC', 'I-LOC'], dtype=object)

In [9]:
tags = df['Tag'].values
words = df['Word'].values

In [10]:
new_tags = []
for t in tags:
    if t == "B-ORG":
        new_tags.append("ORG")
    elif t == "B-PER":
        new_tags.append("PER")
    elif t == "I-PER":
        new_tags.append("PER")
    elif t == "B-LOC":
        new_tags.append("LOC")
    elif t == "I-ORG":
        new_tags.append("ORG")
    elif t == "I-LOC":
        new_tags.append("LOC")
    else:
        new_tags.append("O")

In [11]:
df.drop(['Tag'], axis=1, inplace=True)
df.drop(['Word'], axis=1, inplace=True)

In [13]:
df['Tag'] = new_tags
df['Word'] = words

In [14]:
len(df)

204566

In [15]:
sentence_no = 0
sentence = []
for w in words:
    sentence.append(sentence_no)
    if w == ".":
        sentence_no = sentence_no + 1

In [16]:
len(sentence)

204566

In [17]:
df.insert(0, 'Sentence #', sentence)

In [18]:
df.head()

   Sentence #  Tag     Word
0           0  ORG       EU
1           0    O  rejects
2           0    O   German
3           0    O     call
4           0    O       to

In [20]:
df.to_csv("data/conll_train_preprocessed.csv")